html {

	height: 100%;

}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body 
{
	background:  #9CAFFF;
	background:radial-gradient(circle farthest-corner, #FFF, #9CBFFF);
}


.main
{
	background: #FFF;
	width: 946px;
	/* height: 100%; */
	position: relative;
	left: 50%;
	margin-left:-473px;
	border: black 1px solid;
	border-radius: 10px;
	box-shadow: 0 0 8px black;
}

.header, .content, .lmenu, .footer
{
	border: black 1px solid;
	border-radius: 10px; 
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	background: #9CBFFF;
	box-shadow: 0 0 5px black;
} 

.header
{
	position: relative;
	left:0;
	top:0;
	width: 926px;
	height: 175px;
	background: #9CAFFF;
}

.footer
{
	position: relative;
	left:0;
	bottom:0;
	width: 926px;
	height: 60px;
	background: #9CAFFF;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}

.lmenu
{
	position: absolute;
	top: 185px;
	left: 0;
	width: 189px;
	height: 263px;
	padding:0px;
	z-index:10;
}

.content
{
	position: relative;
	margin-top: 8px;
	left: 199px;
	width: 727px;
	margin-bottom: 10px;
	min-height: 249px;
}

.lmenu ul
{
	list-style-type:none;
	padding:0;
	margin-left: 10px;
}

.lmenu li
{
	width: 120px;
	padding-top: 2px;
	height: 23px;
	color: black;
	border: black 1px solid;
	border-radius: 10px;
	padding-left: 10px;
	margin-top: 2px;
	background: #FFDD8E;
	margin-right:0;
}

.drop
{
	width: 120px;
}

.down li
{
	margin-top:-1px;
	min-width: 100px;

	height: 20px;
	color: black;
	border-radius:5px;
	background: rgba(FF, DD, 8E, 0);
}

.lmenu li:hover
{
	background: #EF9C4E;
}

.drop ul
{
	position: absolute;
	left: 60px;
	transition: opacity 0.5s;
	opacity:0;
	visibility: visible;
	z-index:-1;
}

.drop:hover ul
{
	display: block;
	opacity: 1;
	transition-delay: 0;
	visibility: visible;
	z-index:1;
}

.drop .arr
{
	transition: transform 0.5s;
	float: right;
	margin-right:10px;
	margin-top:5px;
	z-index:0;
}


.drop:hover .arr
{
	transform: rotate(90deg);
}

.article
{
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	padding: 20px;
	width: 667px;
	border-radius: 10px;
	box-shadow: 0 0 5px grey;
	background: #FFFACA;
}

.logo
{
	width:200px;
	height:170px;
	background: url(img/small_logo.png);
	transition: 0.3s;
}

.name
{
	position: absolute;
	left: 150px;
	margin-top: 30px;
	margin-left: 20px;
	width:750px;
	height:133px;
	background: url(img/name.png);
	z-index:10;
	top:0px;
}

.logo:hover
{
	background: url(img/small_logo_a.png);
}

a
{
	color: black;
	text-decoration:none;
}

.footer p
{
	margin: 0;
}

li.here
{
	background: #EF9C4E;
}
li.here:hover
{
	background: #EF9C4E;
}
